<main>  
  
    <div class="container marketing">
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">5 . SSC Tuatara <span class="text-body-secondary">455,3 km/h</span></h2>
          <p class="lead">O SSC Tuatara é um supercarro notável conhecido por sua busca incansável por velocidades extremas. Com um poderoso motor V8 twin-turbo, transmissão de alta performance e design aerodinâmico, o Tuatara visa quebrar barreiras de velocidade. Seu exterior é meticulosamente projetado para reduzir o arrasto e garantir estabilidade em altas velocidades. O interior combina conforto e tecnologia avançada, refletindo o compromisso da SSC em criar uma experiência de direção excepcional. O Tuatara é uma afirmação da dedicação da SSC em inovar e atingir níveis impressionantes de desempenho automotivo.</p>
        </div>
        <div class="col-md-5">
          <img src="assets/Top5veloz.png" class="bd-placeholder-img" width="550" height="400">
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">4 . Bugatti Chiron Super Sport 300+ <span class="text-body-secondary">483 km/h</span></h2>
          <p class="lead">O Bugatti Chiron Super Sport 300+ é um supercarro notável, notório por sua busca incansável por velocidades extremas. Equipado com um motor excepcional e uma transmissão avançada, o Chiron Super Sport 300+ destaca-se por sua combinação impressionante de potência e desempenho. Seu design aerodinâmico foi meticulosamente refinado para reduzir o arrasto e garantir estabilidade mesmo em velocidades ultra altas. O interior oferece uma mistura luxuosa de conforto e tecnologia de ponta, demonstrando o compromisso da Bugatti em proporcionar uma experiência de direção excepcional. O Chiron Super Sport 300+ é um testemunho da dedicação contínua da Bugatti em empurrar os limites da engenharia automotiva para alcançar níveis notáveis de excelência.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="assets/Top4veloz.jpg" class="bd-placeholder-img" width="550" height="400">
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">3 . Bugatti Bolide <span class="text-body-secondary">499 km/h</span></h2>
          <p class="lead">O Bugatti Bolide é um supercarro excepcional, projetado com foco na busca pela máxima performance. Seu motor extraordinariamente poderoso e a avançada transmissão formam uma parceria impressionante, destacando-se por oferecer um desempenho inigualável. O design aerodinâmico do Bolide é resultado de uma meticulosa otimização para reduzir a resistência e proporcionar estabilidade em altas velocidades, refletindo a determinação da Bugatti em criar um carro de corrida supremo. No interior, a fusão de luxo e tecnologia de ponta proporciona uma experiência de pilotagem excepcional. O Bugatti Bolide exemplifica o compromisso inabalável da marca em desafiar os limites da engenharia automotiva, resultando em um supercarro verdadeiramente notável.</p>
        </div>
        <div class="col-md-5">
          <img src="assets/Top3veloz.jpg" class="bd-placeholder-img" width="550" height="400">
        </div>
      </div>
  
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">2 . Hennessey Venom F5 <span class="text-body-secondary">499 km/h</span></h2>
          <p class="lead">O Hennessey Venom F5 é um supercarro excepcional, conhecido por sua busca incansável pela velocidade máxima. Seu motor extraordinariamente potente, combinado com uma transmissão de alto desempenho, destaca-se por oferecer uma aceleração impressionante e uma velocidade final notável. O design aerodinâmico do Venom F5 foi meticulosamente refinado para minimizar a resistência do ar e garantir estabilidade em altas velocidades, demonstrando a dedicação da Hennessey à excelência em engenharia. No interior, a combinação de luxo e tecnologia proporciona uma experiência de condução envolvente. O Hennessey Venom F5 personifica a determinação implacável da marca em desafiar os limites da performance automotiva, resultando em um supercarro verdadeiramente extraordinário.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="assets/Top2veloz.jpg" class="bd-placeholder-img" width="550" height="400">
        </div>
      </div>
  
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">1 . Koenigsegg Jesko Absolut <span class="text-body-secondary">531 km/h</span></h2>
          <p class="lead">O Koenigsegg Jesko Absolut é um supercarro notável, conhecido por sua busca implacável pela velocidade máxima. Equipado com um poderoso motor V8 twin-turbo de 5.0 litros e uma transmissão eficiente de nove velocidades, destaca-se pela combinação de potência e agilidade. Sua aerodinâmica refinada, incluindo um spoiler traseiro alongado, o mantém estável em altas velocidades. O interior combina luxo e tecnologia, enquanto o design geral expressa o compromisso da Koenigsegg com a inovação e a busca pelos limites da engenharia automotiva.</p>
        </div>
        <div class="col-md-5">
          <img src="assets/Top1veloz.jpg" class="bd-placeholder-img" width="550" height="400">
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->
  
  

  </main>
